version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./server
    container_name: backend
    depends_on:
      - mongo
    environment:
      MONGO_URI: mongodb://mongo:27017/fin-man
    ports:
      - "3000:3000"

  frontend:
    build: ./fin-man-web
    container_name: frontend
    depends_on:
      - backend
    ports:
      - "4200:80"

volumes:
  mongo-data:
