<div class="view">
  <!-- Flex container for title + selector -->
  <div class="dashboard-header">
    <h2 class="dashboard-title">Dashboard Overview</h2>
    <div class="chart-header">
      <span class="year-title">Year:</span>
      <select
        class="year-selector"
        [value]="selectedYear$ | async"
        (change)="onYearChange(+$any($event.target).value)"
      >
        <option *ngFor="let year of availableYears" [value]="year">
          {{ year }}
        </option>
      </select>
    </div>
  </div>

  <app-summary-grid [selectedYear$]="selectedYear$"></app-summary-grid>

  <div class="charts-container">
    <div class="charts-grid">
      <app-trend-chart [selectedYear$]="selectedYear$"></app-trend-chart>
      <app-category-chart [selectedYear$]="selectedYear$"></app-category-chart>
    </div>
  </div>

  <app-top-categories [selectedYear$]="selectedYear$"></app-top-categories>
</div>
