<div class="chart-card">
  <div class="card-header">
    <h2>Top Spending Categories</h2>
    <button class="more-options">⋮</button>
  </div>
  <div class="chart-content">
    <div *ngFor="let item of data" class="chart-row">
      <span class="category-label">{{ item.category }}</span>
      <div class="bar-container">
        <div 
          class="bar" 
          [style.width.%]="item.percentage"
          [style.background-color]="getCategoryColor(item.category)">
        </div>
      </div>
    </div>
  </div>
</div>