<button
  type="button"
  class="bank-card"
  [class.has-art]="!!account.background"
  [style.background-image]="cardArt"
  [style.color]="art?.textColor"
  [style.--card-accent]="art?.accentColor"
  (click)="edit.emit(account)"
>
  <div class="bank-card-name">{{ account.name }}</div>
  <app-card-chip></app-card-chip>
  <div class="bank-card-bottom">
    <div class="bank-card-balance">
      {{ account.holdings | number: '1.2-2' }} €
    </div>
    <div class="bank-card-holders">
      <span class="holders-label">Holders</span>
      <span>{{ account.holders.join(', ') }}</span>
    </div>
  </div>
</button>
