<div class="user-selector" (clickOutside)="dropdownOpen = false">
  <div class="current-user" (click)="toggleDropdown()">
    {{ (userService.currentUser$ | async)?.name }}
    <span class="arrow">{{ dropdownOpen ? '▲' : '▼' }}</span>
  </div>

  @if (dropdownOpen) {
    <ul class="dropdown">
      @for (user of (userService.users$ | async) ?? []; track user.id ?? user.name) {
        <li
          (click)="selectUser(user)"
          [class.selected]="user === currentUser"
        >
          {{ user.name }}
        </li>
      }
    </ul>
  }
</div>
